* {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

.body {
    height: 80%;
    max-height: 80%;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.row-centered {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.column-centered {
    align-items: center;
}

.centered {
    justify-content: center;
    align-items: center;
}

.entry {
    width: 480px;
    max-width: 90%;
    justify-content: space-between;
    padding: 8px;
}

h1 {
    text-align: center;
    margin: 16px;
}

.path-input {
    width: 90%;

}

.path-controls > .anchor-button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    width: 80%;
}

.path-controls {
    justify-content: space-evenly;
    padding: 16px;
}

.anchor-button, .entry>a {
    cursor: pointer;
}

#entries {
    overflow-y: auto;
}

#entries>div>div>a, .info>p>i, .info>div>p>i, .info>div>div>p>i {
    word-break: break-all;
    max-width: 90%;
}

.info, .info>div, .info>div>div{
    padding: 0 16px;
}

.info>p, .info>div>p, .info>div>div>p {
    margin: 4px;

}

.info>p>i, .info>div>p>i, .info>div>div>p>i {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}
